
header{
    color: blueviolet;
    background-color: rgb(237, 240, 56);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding-left: 10px;
  
         
}

.busca {
    width: 80px;
    margin: auto 60px auto auto;
    grid-column: 5; 
    padding: 2px 0px 0px 10px;
   
    
    
    
}

img{
    height: 200px;
    width: 200px;
    object-fit: fill;
}

section{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

#cachoeira {
    grid-column: 4;
    grid-row: 1;

}

#foguete {
    grid-column: 2;
    grid-row: 2;
}


